@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    html, body{
        background-color: blue;
        height: 100vh;
        width: 100vw;
        position: relative;
    }
    .cel{
        
        width: 80%;
        height: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #img{
        float: left;
        width: 50%;
        height: 100%;
        margin-right: 20px;
    }
    section{
        max-width: 100%;
        margin-bottom: 30px;
    }
    
    form > .int{
        display: block;
        margin-top: 20px;
    }
   
}
@media screen and (min-width: 992px) {
    html, body{
        background: linear-gradient(blue, orange);
    }
    
}