*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.tudo{
    width: 100%;
    background-color: orange;
    height: 50px;
    text-align: center;    
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid rgb(184, 121, 6);
    border-color: white;
    
}
.bolo{
    background-image: url(imagens/pexels-abhinav-goswami-291528.jpg);    
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 25px;
}
.ingredientes{
    
    text-decoration: dotted;
    margin-left: 40px;
    margin: auto;
    max-width: 990px;
    padding: 40px;
    border: 1px solid;
    border-radius: 15px;
    box-shadow: ;
    
}
.itens{
    margin-top: 20px;
    line-height: 2em;

}
.itens:hover{
    border-radius: 5px;
    box-shadow: 5px solid black;
}
button{
    border-radius: 20px;
    background-color: orange;
    color: white;
    margin-top: 30px;
    padding: 15px;
    font-size: 20px;
    font-weight: regular;
    font-style: normal;
}