@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header{
    width: 100vw;
    height: 40px;
    background-color: orange;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: fixed;
}
.bolo{
    background-image: url(imagens/pexels-elli-1854652.jpg);
    background-size: cover;    
    background-repeat: no-repeat;
    background-position: center center;
    height: 98vh;
    
}
.content > h1{
    color: orange;
    margin-top: 25px;
    margin-bottom: 15px;

}
.content_ingredientes{
    text-align: left;
    line-height: 30px;
    border-radius: 20px;
    max-width: 990px;
    padding: 0 70px;
    cursor: pointer;
    margin: 20px 40px 50px;
    
    
}
.content_modo{
    text-align: left;
    line-height: 30px;
    margin-right: auto;
    border-radius: 20px;
    max-width: 990px;
    padding: 0 70px;
    cursor: pointer;

}
h1, h2{
    color: orange;
}
.content_ingredientes:hover, .content_modo:hover{
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.295);
}
.paragrafos{
    text-align: justify;
    line-height: 23px;
    margin-top: 40px; 
    max-width: 880px;
    padding-left: 20px;   
}
.paragrafos > h1{
    color: orange;
    margin-bottom: 20px;
    line-height: 30px;    
}
footer{
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;      
    padding-left: 5%;
    width: 100vw;
    margin-left: 0;
}
footer > img{
    width: 20%;
    height: 20%;
}
.logo{
    padding-right: 5%;
    justify-content: space-between;
    display: flex;
    color: white;
    list-style: none;
    letter-spacing: 50px;
}


