*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    

}

body{
    background-color: gray;
    position: relative;
    height: 100vh;
    width: 100vw;
}
contain{
    position: absolute;
    height: 515px;
    width: 250px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}
header{
    height: 30px;
    overflow: hidden;
    margin-top: 20px;
    
}
.logo{
    
    height: 40px;
}
main h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    
}
#praia{
    color: #F1D100;
}

article{
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
}
#amarelinha{
    background-color: #F1D100;
    letter-spacing: 4px;
    font-variant: small-caps;
    line-height: 13px;
    margin: 5px 45px ;
    font-weight: bold;
}
#pretinha{
    background-color: black;
    color: #F1D100;
    margin: 5px 45px 30px 45px;
}
.um, .dois, .tres, .quatro{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;        
}
h4{
    border-radius: 50%;
    border: 3px solid #F1D100;
    padding: 09px;    
    width: 100%;
    text-align: center;
}
#at{
    padding: 10px;
}