*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(65, 63, 63);
    height: 100vh;
    width: 100vw;
    position: relative;
}
#quadro{
    background-color: white;
    height: 615px;
    width: 450px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;   
    overflow: hidden;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.678);
}
header{
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: space-around;
    
    
}

div.logo > img{
    height: 40px;
    width: 40px;
    
}
a{
    color: white;
    font-size: 9px;
    padding-top: 20px;    
    align-items: center;
    
}
a:hover{
    border-bottom: 2px solid #F1CE14;
    cursor: pointer;
    transition: all .200ms ease-in;
    
    
}
#um{
    position: relative;
    height: 190px;
    width: 100%;
    background-image: url(../imagens/mathilda-khoo-2aBgL3nj_OQ-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#dois{
    position: relative;
    height: 190px;
    width: 100%;
    background-image: url(../imagens/aves.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#tres{
    position: relative;
}
#direita{
    position: absolute;
    height: 190px;
    width: 50%;
    background-image: url(../imagens/alce.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#esquerda{
    position: absolute;
    height: 190px;
    width: 50%;
    background-image: url(../imagens/british.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 50%;
    
}
.divum{
    height: 140px;
    width: 85px;
    background-color: rgba(0, 0, 0, 0.562);
    position: absolute;
    top: 20px;
    left: 30px; 
    border-top: 3px solid #F1CE14;
    overflow: hidden;
    
}
.divum h3, p{
    color: white;
    font-size: 8px;
    padding: 5px;
    
}
.divdois{
    height: 120px;
    width: 110px;
    background-color: rgba(0, 0, 0, 0.562);
    position: absolute;
    top: 20px;
    left: 300px; 
    border-top: 3px solid #F1CE14;
    overflow: hidden;
}
.divdois h3, p{
    color: white;
    font-size: 8px;
    padding: 5px;   
}

.divtres{
    height: 55px;
    width: 185px;
    background-color: rgba(0, 0, 0, 0.562);
    position: absolute;
    top: 50%;
    left: 50%; 
    border-top: 3px solid #F1CE14;
    transform: translate(-50%, 450%);
    overflow: hidden;
}
.divtres h3, p{
    color: white;
    font-size: 8px;
    padding: 5px; 
}
#caixaum{
    border: 7px solid #F1CE14;
    height: 160px;
    width: 80px;
    left: 350px;
    top: 16%;
    position: absolute;
}
#caixadois{
    border: 7px solid #F1CE14;
    height: 160px;
    width: 80px;
    right: 300px;
    top: 10%;
    position: absolute;
}
.columbia{
    padding: 15px;
    padding-left: 0px;
}
.columbia .canada{
    background-color: black;
    color: #F1CE14;
    font-weight: bold;
    width: 90px;
    font-size: 13px;
    padding-left: 20px;
}
.columbia .brit{
    color: rgb(77, 72, 72);
    padding-left: 20px;
}