*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
:root{
    --cinza: #666665;
    --marron: #996520;
    --marroncla: #CC862B;
    --claro: #E6BC85;
    --marronesc: #4D3210;
    --dom: #434343;
    --letras: #616161;
}
header{
    background-color: white;
    height: 55px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin: auto;     
    justify-content: space-around;    
}
.barra{
    background-color: #434343;
}
.title{ 
    padding-bottom: 20px; 
    padding-top: 20px;
    padding-left: 10px;
    color: #616161;
    font-size: 08px;
    flex-direction: column;
    line-height: 10px;
    text-align: center;

}
span{
    color: red;
}

.lista{
    padding: 30px;   
    text-transform: uppercase;
    word-spacing: 20px;
    
}
a{
    color: #616161;;
    font-size: 0.6em;    
}
a:hover{
    color: black;
    text-shadow: 2px 2px 18px rgba(0, 0, 0, 0.377);
    font-weight: bold;
    transition: 1.5ms all;
}
main{
    max-width: 100%;
    min-width: 320px;
    background-image: url('imagens/banner-home-2.jpg');
    margin: auto;    
    height: 98vh;
    background-size: cover;
    background-position: center center;
}
body{
    background-color: #434343;
}
