*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
:root{
    --cinza: #666665;
    --marron: #996520;
    --marroncla: #CC862B;
    --claro: #E6BC85;
    --marronesc: #4D3210;
}
header{
    background-color: #666665;
    height: 15px;
    width: 100%;
    font-size: 1.5em;
    font-weight: bolder;
    padding-top: 20px;
    padding-left: 10px;
    color: #E6BC85;
    padding-bottom: 20px;
        
}
a{
    color: #E6BC85;
    float: right;  
    font-size: 0.6em;
    padding-right: 30px;
    text-transform: uppercase;
    
    

}
main{
    max-width: 600px;
    min-width: 320px;
    background-image: url('imagens/banner-home-2.jpg');
    margin: auto;    
    height: 98vh;
    background-size: cover;
    background-position: center center;
}
body{
    background-color: azure;
}
